body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(229, 229, 229, 1);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    
}
/* main_div */
.main_div{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    
}
/* main_content */
.main_content{
    margin-left: px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}
/* sidebar_main */
.sidebar_main{
background-color: rgba(30, 41, 57, 1);
padding-top: 40px;
width: 370px;
}

.sidebar-img{
    width: 370px;
    margin-bottom: 50px;
}
/* Contacts */
.contacts{
    margin-left: 40px;
    margin-bottom: 50px;
    
}
.about-position{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
     
    color: #000000; 
}
.about-name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    
    color: #000000;

}
.about-description{
    width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #595959;

    border: 1px solid #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.projects{
    margin-bottom: 50px;

}
.project-item{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    color: #000000;
}
.projects-list{
    padding: 0;
    margin-left: 15px;
}
.link{
    text-decoration: none;
}

.project, .project-link, .project-item-tech{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    

color: #595959;
}
.project-link{
margin-left: 10px;
}

.project-brecket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;

}

.title_h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;    
    
    color: #000000;

    margin-bottom: 10px;
     
}
.company-work-pos{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.company-work-positoon-other-color{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}
.work-list{
    padding: 0px;
    margin-left: 15px;
}
.work-list-item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.sidebar-title{
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 10px;
    
}

/* C: E: */

.Contact-type{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
margin-right: 5px;
}



/* +7 777 777 77 77 chornyiav@gmail.com */
.telefon-email{
    box-sizing: border-box;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    
    
    color: #565E6A;
    
    opacity: 0.5;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tech-skills{
    margin-left: 40px;
}
.tech-skills-title{

    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-right: 40px;
}
.skill-list-text{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

color: #FFFFFF;


}

.tech-skills-list-ul{
    padding-left: 15px;
}

/* • • • • • • • */
.sidebare-li{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #FB6D3A;

}

.soft-skills{
    margin-left: 40px;
}
.soft-skills-list{
    padding-left: 15px;
}
/*Education Div*/
.Education{
    margin-bottom: 107px;
}
.Education-name-h4{
    color: #FB6D3A;
    font-size: 16px;
    margin-bottom: 10px;
}
.Date-start-end{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
    color: #A8A8A8;
}
.line{
    font-size: 12px;
    line-height: 15px;
    color: #000000;  
}


